#block-memo-main-navigation {
  .navbar-nav  {
    .nav-link {
      opacity: 1;
      position: relative;
      text-transform: uppercase;
    }
    .nav-link:before {
      content: '';
      display: block;
      height: 5px;
      background: orange;
      position: absolute;
      top: 0;
      left:0;
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }
    .nav-link:hover:before {
      transform: scale(1,1);
    }
  }
}