body {
  font-size: 15px;
}
main {
  background-color: #F6F6F6;
}
.field--name-field-galeria-kepek {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
}
.field__item {
  display: block;
  overflow: hidden;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

footer .region-footer {
  flex-direction: row;
  color: #fff;

  > div {
    width: 33%;

    a {
      color: #f3b735;
    }
  }
}

footer {
  background-color: #343a40;
  h2, h3 {
    color: #fff;
  }
}
#block-memofoto-powered {
  text-align: right;
 }

img {
  max-width: 100%;
  height: auto;
}

.node--type-article {
  .node__links {
    clear: both;
  }
}
.front1 {
  .container {
    background: rgba(white, 0.8);
    position: relative;

  }
}
#block-memo-megrendelestelefon {
  .field--name-body {
    display:flex;
    justify-content:space-around;
    background-color: #F6F6F6;
    margin-top: 1rem;
  }
}

.front2 {
  padding: 30px 0;

  .container {
    background: rgba(255,255,255, 1);
  }
}
.front3 {
  .container {
    padding: 0 3rem;
  }

  background-color: lighten(#ffa500, 20);

}


@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

#block-megrendelestelefon,
#block-megrendelestelefon-2 {
  margin-bottom: 1em;
}
